@model TradersMarket.Models.UpdateProductModel

@{
    ViewBag.Title = "ProductDetailsShow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<fieldset>
    <legend>Product Details</legend>

    <div class="display-field">
        <img src="@Html.DisplayFor(model => model.ImageURL)" width=300px height=300px />
    </div>

    <div class="display-label"><b>Name</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prodName)
    </div>

    <div class="display-label"><b>Description</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prodDescription)
    </div>

    <div class="display-label"><b>Quantity</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label"><b>Price</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label"><b>Sold By</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

</fieldset>
<p>

    @Html.ActionLink("Add to Cart", "AddToCart", new { id = Model.prodID }, "Product") |
    
</p>
